[submodule "nepali_crowdfund_web"]
	path = nepali_crowdfund_web
	url = https://github.com/bmlpariyar/nepali_crowdfund_web.git
[submodule "nepali_crowdfund_api"]
	path = nepali_crowdfund_api
	url = https://github.com/bmlpariyar/nepali_crowdfund_api.git
